<a href="https://colab.research.google.com/github/NatalhyBB/EjerciciosPropuestos/blob/main/EjerciciosPd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1:
Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [7]:
import pandas as pd

año_inicial = int(input("Ingrese el año inicial:"))
rango = int(input("Ingrese el rango de años con el que desea trabajar: "))

años =[]
ventas_antes =[]
ventas_despues =[]

for i in range (año_inicial, año_inicial + rango):
  ventas = float(input(f"Ingrese el valor de las ventas del año {i}: "))
  ventas_descuento = ventas * 0.9
  años.append(i)
  ventas_antes.append(ventas)
  ventas_despues.append(ventas_descuento)

df = pd.DataFrame({
    "Año" : años,
    "Antes" : ventas_antes,
    "Despues" : ventas_despues
})

print("\n", df.to_string(index=False))

Ingrese el año inicial:2012
Ingrese el rango de años con el que desea trabajar: 3
Ingrese el valor de las ventas del año 2012: 123
Ingrese el valor de las ventas del año 2013: 45
Ingrese el valor de las ventas del año 2014: 67

  Año  Antes  Despues
2012  123.0    110.7
2013   45.0     40.5
2014   67.0     60.3

Ejercicio 2:
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [19]:
import pandas as pd

def calificaciones(notas):
    notas = pd.Series(notas)

    minimo = round(notas.min(),2)
    maximo = round(notas.max(),2)
    media = round(notas.mean(),2)
    desviacion = round(notas.std(),2)

    resultado = pd.Series({
        "Mínima": minimo,
        "Máxima": maximo,
        "Media": media,
        "Desviación típica": desviacion
    })

    return resultado

num_calif = int(input("Ingrese el número alumnos: "))
calif = []

for i in range(1, num_calif + 1):
    nota = float(input(f"Ingrese la nota de alumno N°{i}: "))
    calif.append(nota)

notas = calificaciones(calif)
print("\n")
print(notas)

Ingrese el número alumnos: 4
Ingrese la nota de alumno N°1: 12
Ingrese la nota de alumno N°2: 19
Ingrese la nota de alumno N°3: 20
Ingrese la nota de alumno N°4: 13


Mínima               12.00
Máxima               20.00
Media                16.00
Desviación típica     4.08
dtype: float64

Ejercicio 3:
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [1]:
import pandas as pd

def notas_aprobados(dic_notas, nota_minima=11):
    serie_notas = pd.Series(dic_notas)
    aprobados = serie_notas[serie_notas >= nota_minima]
    return aprobados.sort_values(ascending=False)

# Pedir datos al usuario
n = int(input("Ingrese el número de estudiantes: "))
notas = {}

for i in range(n):
    nombre = input(f"Ingrese el nombre del estudiante {i+1}: ")
    nota = float(input(f"Ingrese la nota de {nombre}: "))
    notas[nombre] = nota

# Mostrar resultados
resultado = notas_aprobados(notas)
print("\nNotas de alumnos aprobados ordenadas de mayor a menor:")
print(resultado)

Ingrese el número de estudiantes: 4
Ingrese el nombre del estudiante 1: camilo
Ingrese la nota de camilo: 12
Ingrese el nombre del estudiante 2: lucia
Ingrese la nota de lucia: 14
Ingrese el nombre del estudiante 3: carmen
Ingrese la nota de carmen: 19
Ingrese el nombre del estudiante 4: luz
Ingrese la nota de luz: 11

Notas de alumnos aprobados ordenadas de mayor a menor:
carmen    19.0
lucia     14.0
camilo    12.0
luz       11.0
dtype: float64

Ejercicio 4:
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:
Mes Ventas Gastos
Enero 30500 22000
Febrero 35600 23400
Marzo 28300 18100
Abril 33900 20700

In [3]:
import pandas as pd

# Datos
datos = {
    'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril'],
    'Ventas': [30500, 35600, 28300, 33900],
    'Gastos': [22000, 23400, 18100, 20700]
}

# Crear DataFrame
df = pd.DataFrame(datos)

# Mostrar DataFrame
print(df.to_string(index=False))

    Mes  Ventas  Gastos
  Enero   30500   22000
Febrero   35600   23400
  Marzo   28300   18100
  Abril   33900   20700

Ejercicio 5:
Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [3]:
import pandas as pd

def calcular_balance(df, lista_meses):
    # Validar columnas
    columnas_necesarias = {'Mes', 'Ventas', 'Gastos'}
    if not columnas_necesarias.issubset(df.columns):
        raise ValueError(f"El DataFrame debe contener las columnas: {columnas_necesarias}")

    # Validar lista de meses
    if not lista_meses:
        raise ValueError("La lista de meses no puede estar vacía.")

    # Normalizar a minúsculas para evitar problemas de coincidencia
    df['Mes'] = df['Mes'].str.lower()
    lista_meses = [mes.lower() for mes in lista_meses]

    # Verificar si todos los meses existen
    meses_existentes = set(df['Mes'])
    meses_faltantes = set(lista_meses) - meses_existentes
    if meses_faltantes:
        print(f"⚠ Advertencia: Los siguientes meses no están en el DataFrame: {meses_faltantes}")

    # Filtrar y calcular balance
    df_filtrado = df.loc[df['Mes'].isin(lista_meses)]
    balance_total = (df_filtrado['Ventas'] - df_filtrado['Gastos']).sum()

    return balance_total

# Ejemplo de uso
datos = {
    'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril'],
    'Ventas': [30500, 35600, 28300, 33900],
    'Gastos': [22000, 23400, 18100, 20700]
}
df = pd.DataFrame(datos)

meses = ['Enero', 'Marzo', 'Abril']
resultado = calcular_balance(df, meses)
print(f"Balance total para {meses}: {resultado}")

Balance total para ['Enero', 'Marzo', 'Abril']: 31900

# Ejercicio 6:
El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: nombre (nombre de la empresa), Final (precio de la acción al cierre de bolsa), Máximo (precio máximo de la acción durante la jornada), Mínimo (precio mínimo de la acción durante la jornada), volumen (Volumen al cierre de bolsa), Efectivo (capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [15]:
import pandas as pd

def resumen_cotizaciones(ruta_csv):
    df = pd.read_csv(ruta_csv)

    columnas_numericas = df.select_dtypes(include="number").columns

    resumen = pd.DataFrame({
        "Mínimo": df[columnas_numericas].min().round(2),
        "Máximo": df[columnas_numericas].max().round(2),
        "Media": df[columnas_numericas].mean().round(2)
    })

    return resumen

ruta = "/content/cotizacion.csv"
resultado = resumen_cotizaciones(ruta)
print(resultado)

              Mínimo     Máximo       Media
Final           9.75       42.1       22.64
Máximo         10.00       43.0       23.12
Mínimo          9.50       41.8       22.30
Volumen    150000.00   250000.0   193750.00
Efectivo  1706250.00  8420000.0  4570312.50

Ejercicio 7:
El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

In [30]:
import pandas as pd

# Leer el fichero CSV
df = pd.read_csv("/content/titanic.csv")

# 1. Mostrar dimensiones, número de datos, nombres de columnas y filas, tipos de datos, primeras 10 filas y últimas 10 filas
print("Dimensiones del DataFrame:", df.shape)
print("Número de datos:", df.size)
print("Nombres de columnas:", df.columns.tolist())
print("Nombres de filas (índices):", df.index.tolist())
print("\nTipos de datos:\n", df.dtypes)
print("\nPrimeras 10 filas:\n", df.head(10))
print("\nÚltimas 10 filas:\n", df.tail(10))

# 2. Datos del pasajero con identificador 148
pasajero_148 = df[df["PassengerId"] == 148]
print("\nDatos del pasajero con ID 148:\n", pasajero_148)

# 3. Filas pares (índices pares)
filas_pares = df.iloc[::2]
print("\nFilas pares:\n", filas_pares)

# 4. Nombres de personas en primera clase, ordenados alfabéticamente
nombres_primera = df[df["Pclass"] == 1]["Name"].sort_values()
print("\nNombres de pasajeros en primera clase (orden alfabético):\n", nombres_primera)

# 5. Porcentaje de personas que sobrevivieron y murieron
porcentajes_supervivencia = df["Survived"].value_counts(normalize=True) * 100
print("\nPorcentaje de supervivientes y fallecidos:\n", porcentajes_supervivencia.round(2))

# 6. Porcentaje de supervivientes por clase
porcentaje_supervivencia_clase = df.groupby("Pclass")["Survived"].mean() * 100
print("\nPorcentaje de supervivientes por clase:\n", porcentaje_supervivencia_clase.round(2))

# 7. Eliminar pasajeros con edad desconocida
df_sin_edad_desconocida = df.dropna(subset=["Age"]).copy()

# 8. Edad media de mujeres por clase
edad_media_mujeres = df_sin_edad_desconocida[df_sin_edad_desconocida["Sex"] == "female"].groupby("Pclass")["Age"].mean()
print("\nEdad media de mujeres por clase:\n", edad_media_mujeres.round(2))

# 9. Añadir columna booleana para menor de edad (<18)
df_sin_edad_desconocida["Menor"] = df_sin_edad_desconocida["Age"] < 18

# 10. Porcentaje de menores y mayores que sobrevivieron en cada clase
porcentaje_supervivencia_edad_clase = df_sin_edad_desconocida.groupby(["Pclass", "Menor"])["Survived"].mean() * 100
print("\nPorcentaje de supervivientes por clase y grupo de edad (Menor=True):\n", porcentaje_supervivencia_edad_clase.round(2))

Dimensiones del DataFrame: (891, 12)
Número de datos: 10692
Nombres de columnas: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Nombres de filas (índices): [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890]

Tipos de datos:
 PassengerId     object
Survived       float64
Pclass         float64
Name           float64
Sex            float64
Age            float64
SibSp          float64
Parch          float64
Ticket         float64
Fare           float64
Cabin          float64
Embarked       float64
dtype: object

Primeras 10 filas:
                                          PassengerId  Survived  Pclass  Name  \
0  1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...       NaN     NaN   NaN
1  2,1,1,"Cumings, Mrs. John Bradley (Florence Br...       NaN     NaN   NaN
2  3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...       NaN     NaN   NaN
3  4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...       NaN     NaN   NaN
4  5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...       NaN     NaN   NaN
5  6,0,3,"Moran, Mr. James",male,,0,0,330877,8.45...       NaN     NaN   NaN
6  7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17...       NaN     NaN   NaN
7  8,0,3,"Palsson, Master. Gosta Leonard",male,2,...       NaN     NaN   NaN
8  9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhel...       NaN     NaN   NaN
9  10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",f...       NaN     NaN   NaN

   Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
0  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
1  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
2  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
3  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
4  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
5  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
6  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
7  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
8  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
9  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN

Últimas 10 filas:
                                            PassengerId  Survived  Pclass  \
881  882,0,3,"Markun, Mr. Johann",male,33,0,0,34925...       NaN     NaN
882  883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,...       NaN     NaN
883  884,0,2,"Banfield, Mr. Frederick James",male,2...       NaN     NaN
884  885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,S...       NaN     NaN
885  886,0,3,"Rice, Mrs. William (Margaret Norton)"...       NaN     NaN
886  887,0,2,"Montvila, Rev. Juozas",male,27,0,0,21...       NaN     NaN
887  888,1,1,"Graham, Miss. Margaret Edith",female,...       NaN     NaN
888  889,0,3,"Johnston, Miss. Catherine Helen ""Car...       NaN     NaN
889  890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,11...       NaN     NaN
890  891,0,3,"Dooley, Mr. Patrick",male,32,0,0,3703...       NaN     NaN

     Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
881   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
882   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
883   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
884   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
885   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
886   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
887   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
888   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
889   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
890   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN

Datos del pasajero con ID 148:
 Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

Filas pares:
                                            PassengerId  Survived  Pclass  \
0    1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...       NaN     NaN
2    3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...       NaN     NaN
4    5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...       NaN     NaN
6    7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17...       NaN     NaN
8    9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhel...       NaN     NaN
..                                                 ...       ...     ...
882  883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,...       NaN     NaN
884  885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,S...       NaN     NaN
886  887,0,2,"Montvila, Rev. Juozas",male,27,0,0,21...       NaN     NaN
888  889,0,3,"Johnston, Miss. Catherine Helen ""Car...       NaN     NaN
890  891,0,3,"Dooley, Mr. Patrick",male,32,0,0,3703...       NaN     NaN

     Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
0     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
2     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
4     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
6     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
8     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
..    ...  ...  ...    ...    ...     ...   ...    ...       ...
882   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
884   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
886   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
888   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
890   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN

[446 rows x 12 columns]

Nombres de pasajeros en primera clase (orden alfabético):
 Series([], Name: Name, dtype: float64)

Porcentaje de supervivientes y fallecidos:
 Series([], Name: proportion, dtype: float64)

Porcentaje de supervivientes por clase:
 Series([], Name: Survived, dtype: float64)

Edad media de mujeres por clase:
 Series([], Name: Age, dtype: float64)

Porcentaje de supervivientes por clase y grupo de edad (Menor=True):
 Series([], Name: Survived, dtype: float64)

Ejercicio 8:
Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:
- Generar un DataFrame con los datos de los cuatro ficheros.
- Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.
- Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.
- Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).
- Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha.
- Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.
- Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.
Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.
- Mostrar un resumen descriptivo para cada contaminante por distritos.
- Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estación indicada.
- Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.
- Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

In [19]:
import pandas as pd
import numpy as np
from datetime import datetime

# 1. Leer y unir los 4 archivos
archivos = ["/content/emisiones-2016.csv", "/content/emisiones-2017.csv", "/content/emisiones-2018.csv", "/content/emisiones-2019.csv"]
df = pd.concat([pd.read_csv(f, sep=';') for f in archivos], ignore_index=True)

# 2. Filtrar columnas necesarias
columnas_dias = [col for col in df.columns if col.startswith("D")]
df = df[["ESTACION", "MAGNITUD", "AÑO", "MES"] + columnas_dias]

# 3. Reestructurar a formato largo
df_largo = df.melt(
    id_vars=["ESTACION", "MAGNITUD", "AÑO", "MES"],
    value_vars=columnas_dias,
    var_name="DIA",
    value_name="VALOR"
)

# 4. Limpiar nombre de días y convertir a número
df_largo["DIA"] = df_largo["DIA"].str[1:].astype(int)

# 5. Crear columna FECHA
df_largo["FECHA"] = pd.to_datetime(
    dict(year=df_largo["AÑO"], month=df_largo["MES"], day=df_largo["DIA"]),
    errors="coerce"
)

# 6. Eliminar fechas no válidas y ordenar
df_largo = df_largo[~pd.isna(df_largo["FECHA"])]
df_largo = df_largo.sort_values(by=["ESTACION", "MAGNITUD", "FECHA"])

# 7. Mostrar estaciones y contaminantes disponibles
print("Estaciones disponibles:", df_largo["ESTACION"].unique())
print("Contaminantes disponibles:", df_largo["MAGNITUD"].unique())

# 8. Función: emisiones por estación, contaminante y rango de fechas
def emisiones_por_rango(estacion, contaminante, fecha_inicio, fecha_fin):
    filtro = (
        (df_largo["ESTACION"] == estacion) &
        (df_largo["MAGNITUD"] == contaminante) &
        (df_largo["FECHA"] >= fecha_inicio) &
        (df_largo["FECHA"] <= fecha_fin)
    )
    return df_largo.loc[filtro, "VALOR"]

# Ejemplo
print("\nEmisiones NO2 en estación 1 (2016-01-01 a 2016-01-05):")
print(emisiones_por_rango(1, "NO2", "2016-01-01", "2016-01-05"))

# 9. Resumen descriptivo por contaminante
print("\nResumen por contaminante:")
print(df_largo.groupby("MAGNITUD")["VALOR"].describe())

# 10. Resumen por contaminante y estación
print("\nResumen por contaminante y estación:")
print(df_largo.groupby(["ESTACION", "MAGNITUD"])["VALOR"].describe())

# 11. Función: resumen descriptivo por estación y contaminante
def resumen_estacion_contaminante(estacion, contaminante):
    filtro = (
        (df_largo["ESTACION"] == estacion) &
        (df_largo["MAGNITUD"] == contaminante)
    )
    return df_largo.loc[filtro, "VALOR"].describe()

# 12. Función: medias mensuales de un contaminante y año para todas las estaciones
def medias_mensuales(contaminante, anio):
    filtro = (
        (df_largo["MAGNITUD"] == contaminante) &
        (df_largo["AÑO"] == anio)
    )
    return df_largo.loc[filtro].groupby(["MES", "ESTACION"])["VALOR"].mean()

# 13. Función: medias mensuales de todos los contaminantes en una estación
def medias_mensuales_estacion(estacion):
    filtro = df_largo["ESTACION"] == estacion
    return df_largo.loc[filtro].groupby(["MES", "MAGNITUD"])["VALOR"].mean().unstack()

# Ejemplo de uso
print("\nResumen estación 1, NO2:\n", resumen_estacion_contaminante(1, "NO2"))
print("\nMedias mensuales NO2 en 2017:\n", medias_mensuales("NO2", 2017))
print("\nMedias mensuales por contaminante en estación 1:\n", medias_mensuales_estacion(1))

Estaciones disponibles: [1. 2. 3. 4. 5.]
Contaminantes disponibles: ['NO2' 'PM10' 'O3' 'PM2']

Emisiones NO2 en estación 1 (2016-01-01 a 2016-01-05):
0      45.0
48     50.0
96     48.0
144    47.0
192    52.0
Name: VALOR, dtype: float64

Resumen por contaminante:
          count       mean       std   min    25%   50%   75%   max
MAGNITUD
NO2       160.0  45.181250  5.169908  33.0  41.00  46.0  49.0  55.0
O3         80.0  61.200000  3.813368  53.0  58.75  61.0  64.0  69.0
PM10      120.0  25.041667  2.928836  18.0  23.00  25.0  27.0  32.0
PM2        40.0  20.475000  1.797256  16.0  19.00  21.0  22.0  24.0

Resumen por contaminante y estación:
                   count    mean       std   min    25%   50%   75%   max
ESTACION MAGNITUD
1.0      NO2        40.0  50.250  2.657838  44.0  48.75  50.0  52.0  55.0
         PM10       40.0  24.700  1.604481  21.0  24.00  25.0  26.0  28.0
2.0      NO2        40.0  43.825  2.890191  38.0  42.00  44.0  46.0  49.0
         PM10       40.0  22.475  1.797256  18.0  21.00  23.0  24.0  26.0
3.0      NO2        40.0  38.825  2.890191  33.0  37.00  39.0  41.0  44.0
         O3         40.0  63.825  2.890191  58.0  62.00  64.0  66.0  69.0
4.0      O3         40.0  58.575  2.639809  53.0  57.00  59.0  61.0  63.0
         PM2        40.0  20.475  1.797256  16.0  19.00  21.0  22.0  24.0
5.0      NO2        40.0  47.825  2.890191  42.0  46.00  48.0  50.0  53.0
         PM10       40.0  27.950  2.194983  23.0  26.75  28.0  30.0  32.0

Resumen estación 1, NO2:
 count    40.000000
mean     50.250000
std       2.657838
min      44.000000
25%      48.750000
50%      50.000000
75%      52.000000
max      55.000000
Name: VALOR, dtype: float64

Medias mensuales NO2 en 2017:
 MES  ESTACION
1.0  1.0         49.0
     2.0         43.0
     3.0         38.0
     5.0         47.0
Name: VALOR, dtype: float64

Medias mensuales por contaminante en estación 1:
 MAGNITUD    NO2  PM10
MES
1.0       50.25  24.7